<!--div class="model-library-app">
    <header>
        <app-top-pane-toolbar></app-top-pane-toolbar>
    </header>
    <section class="bottom-pane">
        <app-svggraph-canvas></app-svggraph-canvas>
        <app-right-pane-toolbar></app-right-pane-toolbar>
    </section>
</div-->
<div class="model-library-app">
    <header>
        <app-top-pane-toolbar></app-top-pane-toolbar>
    </header>
    <section class="bottom-pane">
        <app-html-graph-canvas></app-html-graph-canvas>
        <app-right-pane-toolbar></app-right-pane-toolbar>
    </section>
</div>