<div class="left-control-pane toolbar">
    <div class="action-item type_input" draggable="true" (dragstart)="dragStart($event,INPUT)" title="Input">
        Input
    </div>
    <div class="action-item type_treasury_input" draggable="true" (dragstart)="dragStart($event,TREASURY_INPUT)" title="Treasury Input">
        Treasury Input
    </div>
    <div class="action-item type_action" draggable="true" (dragstart)="dragStart($event,ACTION)" title="Intermediate Operation">
        Intermediate Operation
    </div>
    <div class="action-item type_output" draggable="true" (dragstart)="dragStart($event,OUTPUT)" title="Output">
        Output
    </div>
</div>